n8n/workflow-exports/article-poster-v1-api.json
{
  "name": "article-poster-v1-api",
  "nodes": [
    {
      "id": "w1",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "dgipr-article-poster",
        "responseMode": "responseNode"
      },
      "position": [-240, 0],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "c1d2e3f4-0001-4abc-8def-000000000101"
    },
    {
      "id": "s1",
      "name": "Article Poster Form",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "headline",
              "type": "string",
              "value": "={{ $json.body.headline }}"
            },
            {
              "id": "a2",
              "name": "scene_brief",
              "type": "string",
              "value": "={{ $json.body.scene_brief }}"
            },
            {
              "id": "a3",
              "name": "generation_id",
              "type": "string",
              "value": "={{ $json.body.generation_id }}"
            },
            {
              "id": "a4",
              "name": "reference_url",
              "type": "string",
              "value": "={{ $json.body.reference_url }}"
            },
            {
              "id": "a5",
              "name": "image_feedback",
              "type": "string",
              "value": "={{ $json.body.image_feedback }}"
            },
            {
              "id": "a6",
              "name": "panel_color",
              "type": "string",
              "value": "={{ $json.body.panel_color }}"
            },
            {
              "id": "a7",
              "name": "panel_color_name",
              "type": "string",
              "value": "={{ $json.body.panel_color_name }}"
            },
            {
              "id": "a8",
              "name": "headline_color",
              "type": "string",
              "value": "={{ $json.body.headline_color }}"
            },
            {
              "id": "a9",
              "name": "marker_count",
              "type": "number",
              "value": "={{ $json.body.marker_count || 0 }}"
            },
            {
              "id": "a10",
              "name": "layout_summary",
              "type": "string",
              "value": "={{ $json.body.layout_summary || '' }}"
            },
            {
              "id": "a11",
              "name": "has_photo_zone",
              "type": "string",
              "value": "={{ $json.body.has_photo_zone || '' }}"
            }
          ]
        },
        "includeOtherFields": false,
        "mode": "manual",
        "options": {}
      },
      "position": [-20, 0],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "n1",
      "name": "Build Prompt",
      "parameters": {
        "jsCode": "// Assemble the gpt-image-2 EDIT prompt for the article poster. Initial renders\n// paint approved content into an immutable master; feedback renders instead edit\n// the latest finished poster. Image edits regenerate the whole canvas, so keeping\n// unrequested layout and Devanagari text unchanged is necessarily best-effort.\n//\n// The initial-render prompt is deliberately LAYOUT-AGNOSTIC: the article masters\n// are a varied library (curved side panels, top bands, full-bleed photos,\n// text-only), and hardcoding any one anatomy here made the image model reshape\n// every master toward it — which is why all posters used to come out with the\n// same curved left panel. Structure is asserted only from layout_summary /\n// has_photo_zone (the picked master's vision-derived layout_spec, migration 0016,\n// flattened to strings by the API); when those are empty (un-analyzed master or\n// old API) the prompt stays generic and conditional.\n//\n// The RESERVED ZONES rule is stated FIRST, before the erase instruction, and\n// repeated as a final check: the API stamps the logo/footer over those areas after\n// the render, and the model used to reflow the headline UP into the top-left after\n// being told to erase the master's logo there — the stamped logo then clipped the\n// headline's first line. Zone numbers (top-left 420x180, bottom 150px at 1536x1024)\n// must stay in sync with packages/poster-renderer/src/article-chrome.ts.\n//\n// Annotated feedback (marker_count > 0) edits a poster carrying numbered red\n// marker boxes: apply each numbered change at its marker, then erase the marks.\nconst src = $input.first().json;\nconst headline = (src.headline || '').toString().trim();\nconst scene_brief = (src.scene_brief || '').toString().trim();\nconst reference_url = (src.reference_url || '').toString().trim();\nconst image_feedback = (src.image_feedback || '').toString().trim();\nconst panel_color = (src.panel_color || '').toString().trim();\nconst panel_color_name = (src.panel_color_name || '').toString().trim() || 'orange';\nconst headline_color = (src.headline_color || '').toString().trim() || '#7a1512';\nconst panel_desc = panel_color ? (panel_color_name + ' (' + panel_color + ')') : panel_color_name;\nconst marker_count = Math.max(0, Math.min(3, Number(src.marker_count) || 0));\nconst layout_summary = (src.layout_summary || '').toString().trim();\n// Tri-state: true / false / null (unknown — un-analyzed master or feedback edit).\nconst has_photo_zone = src.has_photo_zone === 'true' ? true : (src.has_photo_zone === 'false' ? false : null);\n\n// Fail loud rather than editing a stale canonical master: the API must send either\n// the selected immutable master (initial render) or latest poster (feedback).\nif (!reference_url) { throw new Error('No \"reference_url\" received in the webhook body — the API must send the image URL to edit.'); }\n\nlet prompt;\nif (image_feedback && marker_count > 0) {\n  prompt = [\n    'You are editing an existing finished DGIPR Maharashtra government ARTICLE poster provided as the input image.',\n    'The input image carries ' + marker_count + ' numbered red annotation marker(s): thin red outline rectangles, each with a small red circular badge showing its number. They were drawn onto the poster by editing software and are NOT part of the poster design.',\n    'Each marker is a pointing gesture showing where one requested change applies — not a hard boundary. For each marker, identify the design element at or around that spot and apply the correspondingly numbered change from the request below to that WHOLE element, even where the element extends beyond the rectangle.',\n    'REQUESTED CHANGES: «' + image_feedback + '».',\n    'Make ONLY these changes. Keep the exact layout, the poster\\'s existing panels and accent shapes, existing Marathi headline text, colours, typography, and any photograph unchanged except where a requested change explicitly requires it.',\n    'ERASE every red marker rectangle and numbered badge completely from the output, restoring whatever they overlapped — no red outlines, red circles, or annotation numbers may remain anywhere on the poster.',\n    'RESERVED ZONES: the महासंवाद logo in the top-left (approx 420x180 px) and the footer strip along the bottom (full width, approx 150 px tall) are official branding stamped onto the poster by software — do NOT alter, move, redraw or remove them, and do NOT move any text or important content into those areas.',\n    'Add no new text, letters, numbers, captions, logos, borders, or decorative elements beyond the requested changes. Preserve all other existing Devanagari text exactly. Output ONE complete landscape poster filling the canvas.',\n  ].join('\\n');\n} else if (image_feedback) {\n  prompt = [\n    'You are editing an existing finished DGIPR Maharashtra government ARTICLE poster provided as the input image.',\n    'Apply ONLY this requested change: «' + image_feedback + '».',\n    'Keep the exact layout, the poster\\'s existing panels and accent shapes, existing Marathi headline text, colours, typography, and any photograph unchanged except where the requested change explicitly requires it.',\n    'RESERVED ZONES: the महासंवाद logo in the top-left (approx 420x180 px) and the footer strip along the bottom (full width, approx 150 px tall) are official branding stamped onto the poster by software — do NOT alter, move, redraw or remove them, and do NOT move any text or important content into those areas.',\n    'Add no new text, letters, numbers, captions, logos, borders, or decorative elements. Preserve all existing Devanagari text exactly. Output ONE complete landscape poster filling the canvas.',\n  ].join('\\n');\n} else {\n  if (!headline) { throw new Error('No \"headline\" received in the webhook body.'); }\n\n  // The PHOTO instruction branches on what the master actually contains:\n  // replace-in-place when it provably has a photo zone, a hard no-imagery lock\n  // when it provably has none, and a conditional clause when un-analyzed.\n  let photoLines;\n  if (has_photo_zone === true) {\n    photoLines = [\n      '3) PHOTO — this master has a photo zone. Erase the photograph currently inside it and fill that SAME zone — same shape, same position, same edges — with a NEW realistic documentary photograph matching the description below. Do not move, resize or reshape the zone. The photo must contain NO text, words, letters, numbers or logos.',\n      'PHOTO (imagery only): ' + (scene_brief || 'a relevant Maharashtra public-welfare documentary scene'),\n    ];\n  } else if (has_photo_zone === false) {\n    photoLines = [\n      '3) NO PHOTOGRAPHY — this master is a text-and-graphics layout with NO photo zone. Do NOT add any photograph, portrait, illustration or pictorial scene anywhere on the poster; keep the master\\'s text-and-graphics structure exactly.',\n    ];\n  } else {\n    photoLines = [\n      '3) PHOTO — only IF this master devotes a region to a photograph: erase that photograph and fill the SAME region — same shape, same position — with a NEW realistic documentary photograph matching the description below; the photo must contain NO text, words, letters, numbers or logos. IF the master has NO photo region, do NOT add one.',\n      'PHOTO (imagery only): ' + (scene_brief || 'a relevant Maharashtra public-welfare documentary scene'),\n    ];\n  }\n\n  prompt = [\n    'You are editing an OFFICIAL DGIPR Maharashtra government ARTICLE poster: a single landscape banner on a 1536x1024 canvas.',\n    'RESERVED ZONES — READ THIS FIRST. Two rectangles of this canvas are already spoken for: the official logo and footer graphics are stamped onto the finished poster afterwards by software, laid OVER whatever you paint there. (a) The TOP-LEFT rectangle from (0,0) to (420,180) — the leftmost ~27% of the width across the topmost ~18% of the height. (b) The FULL-WIDTH BOTTOM strip, approx 150 px tall. These two rectangles must contain NOTHING: no headline, no text, no letters, no numbers, no statistics, no faces, no photograph, no logo, no decorative element, no important visual subject matter. Plain flat colour or quiet background continuation there is expected and correct. Compose the poster the way a human designer would who knows the logo and footer will cover those areas and must not hide any information.',\n    '',\n    'KEEP THIS master template\\'s layout EXACTLY as provided — the same composition, panel shapes, colour zones, decorative elements and arrangement THIS particular master has. Do NOT restructure it toward any other poster layout, do NOT add panels or shapes it does not have, and do NOT remove ones it does have.',\n    ...(layout_summary ? ['THIS master\\'s structure, read from the template itself: ' + layout_summary] : []),\n    'ERASE the branding chrome the master carries: any महासंवाद logo card in the top-left and any department footer band or social-handle strip along the bottom. Fill those areas by continuing the surrounding panel colour, photograph or background naturally, as if that branding was never there. Erasing that branding does NOT free up space — those areas remain RESERVED ZONES as defined above. Do NOT move, enlarge, re-centre or reflow the headline, the photograph, or any other element into the space the erased branding occupied; leave it as quiet empty background.',\n    '',\n    'REPLACE the master\\'s placeholder content, inside the master\\'s OWN existing zones:',\n    '',\n    '1) HEADLINE — erase the master\\'s existing main Marathi headline, wherever this master places it, and typeset THIS headline in that same zone, matching the master\\'s headline placement, scale, alignment and weight, spelled EXACTLY as given, in correct Devanagari (Marathi). Large, bold and crisply legible. The FIRST line of the headline must START BELOW approx 190 px from the top of the canvas, entirely clear of the reserved top-left zone, and must not extend into the bottom strip; if the headline is long, reduce its type size or extend the block DOWNWARD — never upward or leftward into the reserved top-left zone. Also erase any OTHER placeholder Marathi wording the master carries (sub-lines, year badges, old scheme names) — stale placeholder text must not survive. The new headline is the ONLY text you add anywhere on the poster.',\n    'HEADLINE (verbatim, do not translate or alter): ' + headline,\n    '',\n    '2) COLOUR — IF this master has a distinct solid-colour headline panel or band, recolour that panel to ' + panel_desc + ' as a solid flat fill, keeping the panel\\'s exact shape, size and position; if the master has no such panel, keep the master\\'s own colour scheme unchanged. Set the headline text in ' + headline_color + ' if that stays crisply legible against its background; otherwise use the colour the master\\'s own headline used.',\n    '',\n    ...photoLines,\n    '',\n    'Add NO other text: no subhead, no bullet points, no statistics, no quotes, no logos of any kind, no captions, and no outer border. Output ONE complete poster filling the whole canvas.',\n    'FINAL CHECK before you output: the top-left 420x180 rectangle and the full-width bottom 150 px strip must be empty quiet background — no part of the headline, no photograph, no subject matter and no branding anywhere inside them.',\n  ].join('\\n');\n}\n\nreturn [{ json: { prompt, headline, scene_brief, reference_url, image_feedback, generation_id: src.generation_id } }];\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [200, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "n2",
      "name": "Read Master Template",
      "parameters": {
        "method": "GET",
        "url": "={{ $('Article Poster Form').first().json.reference_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "master"
            }
          },
          "timeout": 30000
        }
      },
      "position": [420, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": { "httpHeaderAuth": { "name": "OpenAI Bearer (DGIPR)" } },
      "id": "n3",
      "name": "Edit Image",
      "parameters": {
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "inputDataFieldName": "master",
              "name": "image",
              "parameterType": "formBinaryData"
            },
            {
              "name": "model",
              "parameterType": "formData",
              "value": "gpt-image-2"
            },
            {
              "name": "prompt",
              "parameterType": "formData",
              "value": "={{ $('Build Prompt').first().json.prompt }}"
            },
            {
              "name": "size",
              "parameterType": "formData",
              "value": "1536x1024"
            },
            {
              "name": "quality",
              "parameterType": "formData",
              "value": "medium"
            },
            { "name": "n", "parameterType": "formData", "value": "1" }
          ]
        },
        "contentType": "multipart-form-data",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "options": { "timeout": 360000 },
        "sendBody": true,
        "url": "https://api.openai.com/v1/images/edits"
      },
      "position": [640, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "r1",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ poster_png_base64: $json.data[0].b64_json }) }}"
      },
      "position": [860, 0],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "index": 0, "node": "Article Poster Form", "type": "main" }]]
    },
    "Article Poster Form": {
      "main": [[{ "index": 0, "node": "Build Prompt", "type": "main" }]]
    },
    "Build Prompt": {
      "main": [[{ "index": 0, "node": "Read Master Template", "type": "main" }]]
    },
    "Read Master Template": {
      "main": [[{ "index": 0, "node": "Edit Image", "type": "main" }]]
    },
    "Edit Image": {
      "main": [[{ "index": 0, "node": "Respond to Webhook", "type": "main" }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
