n8n/workflow-exports/article-poster-v1-api.json
{
  "name": "article-poster-v1-api",
  "nodes": [
    {
      "id": "w1",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "dgipr-article-poster",
        "responseMode": "responseNode"
      },
      "position": [-240, 0],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "c1d2e3f4-0001-4abc-8def-000000000101"
    },
    {
      "id": "s1",
      "name": "Article Poster Form",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "headline",
              "type": "string",
              "value": "={{ $json.body.headline }}"
            },
            {
              "id": "a2",
              "name": "scene_brief",
              "type": "string",
              "value": "={{ $json.body.scene_brief }}"
            },
            {
              "id": "a3",
              "name": "generation_id",
              "type": "string",
              "value": "={{ $json.body.generation_id }}"
            },
            {
              "id": "a4",
              "name": "reference_url",
              "type": "string",
              "value": "={{ $json.body.reference_url }}"
            },
            {
              "id": "a5",
              "name": "image_feedback",
              "type": "string",
              "value": "={{ $json.body.image_feedback }}"
            }
          ]
        },
        "includeOtherFields": false,
        "mode": "manual",
        "options": {}
      },
      "position": [-20, 0],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "n1",
      "name": "Build Prompt",
      "parameters": {
        "jsCode": "// Assemble the gpt-image-2 EDIT prompt for the article poster. Initial renders\n// paint approved content into an immutable master; feedback renders instead edit\n// the latest finished poster. Image edits regenerate the whole canvas, so keeping\n// unrequested layout and Devanagari text unchanged is necessarily best-effort.\nconst src = $input.first().json;\nconst headline = (src.headline || '').toString().trim();\nconst scene_brief = (src.scene_brief || '').toString().trim();\nconst reference_url = (src.reference_url || '').toString().trim();\nconst image_feedback = (src.image_feedback || '').toString().trim();\n\n// Fail loud rather than editing a stale canonical master: the API must send either\n// the selected immutable master (initial render) or latest poster (feedback).\nif (!reference_url) { throw new Error('No \"reference_url\" received in the webhook body — the API must send the image URL to edit.'); }\n\nlet prompt;\nif (image_feedback) {\n  prompt = [\n    'You are editing an existing finished DGIPR Maharashtra government ARTICLE poster provided as the input image.',\n    'Apply ONLY this requested change: «' + image_feedback + '».',\n    'Keep the exact layout, महासंवाद logo, curved orange panel, existing Marathi headline text, navy department footer band and its text, white social-handle strip, colours, typography, and photograph unchanged except where the requested change explicitly requires it.',\n    'Add no new text, letters, numbers, captions, logos, borders, or decorative elements. Preserve all existing Devanagari text exactly. Output ONE complete landscape poster filling the canvas.',\n  ].join('\\n');\n} else {\n  if (!headline) { throw new Error('No \"headline\" received in the webhook body.'); }\n  prompt = [\n    'You are editing an OFFICIAL DGIPR Maharashtra government ARTICLE poster: a single landscape banner.',\n    'KEEP the master template EXACTLY as provided — same overall layout and proportions, the महासंवाद logo card in the top-left, the curved orange left panel, the navy department footer band that reads \"माहिती व जनसंपर्क महासंचालनालय, महाराष्ट्र शासन\", and the white social-handle strip along the very bottom. Do NOT move, restyle, recolour, remove or duplicate any of these framing elements, and do not change the footer text.',\n    '',\n    'REPLACE only these two things, inside the master\\'s existing zones:',\n    '',\n    '1) HEADLINE — erase the existing Marathi headline on the orange left panel and typeset THIS headline in its place, spelled EXACTLY as given, in correct Devanagari (Marathi). Dark maroon (#7a1512), bold (weight 900), centered on the orange panel, large and crisply legible. This is the ONLY text you add anywhere on the poster.',\n    'HEADLINE (verbatim, do not translate or alter): ' + headline,\n    '',\n    '2) PHOTO — erase the existing farmer photo and fill the right-hand curved photo zone with a NEW realistic documentary photograph matching the description below. Keep the human subject on the RIGHT and a calmer, less-busy LEFT third so the headline panel stays fully readable. The photo must contain NO text, words, letters, numbers or logos.',\n    'PHOTO (background imagery only): ' + (scene_brief || 'a relevant Maharashtra public-welfare documentary scene'),\n    '',\n    'Add NO other text: no subhead, no bullet points, no statistics, no quotes, no extra logos, no captions, and no outer border. Output ONE complete poster filling the whole canvas.',\n  ].join('\\n');\n}\n\nreturn [{ json: { prompt, headline, scene_brief, reference_url, image_feedback, generation_id: src.generation_id } }];\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [200, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "n2",
      "name": "Read Master Template",
      "parameters": {
        "method": "GET",
        "url": "={{ $('Article Poster Form').first().json.reference_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "master"
            }
          },
          "timeout": 30000
        }
      },
      "position": [420, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": { "httpHeaderAuth": { "name": "OpenAI Bearer (DGIPR)" } },
      "id": "n3",
      "name": "Edit Image",
      "parameters": {
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "inputDataFieldName": "master",
              "name": "image",
              "parameterType": "formBinaryData"
            },
            {
              "name": "model",
              "parameterType": "formData",
              "value": "gpt-image-2"
            },
            {
              "name": "prompt",
              "parameterType": "formData",
              "value": "={{ $('Build Prompt').first().json.prompt }}"
            },
            {
              "name": "size",
              "parameterType": "formData",
              "value": "1536x1024"
            },
            {
              "name": "quality",
              "parameterType": "formData",
              "value": "medium"
            },
            { "name": "n", "parameterType": "formData", "value": "1" }
          ]
        },
        "contentType": "multipart-form-data",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "options": { "timeout": 360000 },
        "sendBody": true,
        "url": "https://api.openai.com/v1/images/edits"
      },
      "position": [640, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "r1",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ poster_png_base64: $json.data[0].b64_json }) }}"
      },
      "position": [860, 0],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "index": 0, "node": "Article Poster Form", "type": "main" }]]
    },
    "Article Poster Form": {
      "main": [[{ "index": 0, "node": "Build Prompt", "type": "main" }]]
    },
    "Build Prompt": {
      "main": [[{ "index": 0, "node": "Read Master Template", "type": "main" }]]
    },
    "Read Master Template": {
      "main": [[{ "index": 0, "node": "Edit Image", "type": "main" }]]
    },
    "Edit Image": {
      "main": [[{ "index": 0, "node": "Respond to Webhook", "type": "main" }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
