n8n/workflow-exports/social-post-v2-api.json
{
  "name": "social-post-v2-api",
  "nodes": [
    {
      "id": "w1",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "dgipr-social-post",
        "responseMode": "responseNode"
      },
      "position": [-240, 0],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "b1c2d3e4-0002-4abc-8def-000000000002"
    },
    {
      "id": "s1",
      "name": "DGIPR Post Form",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "meeting_notes",
              "type": "string",
              "value": "={{ $json.body.meeting_notes }}"
            },
            {
              "id": "a2",
              "name": "design_mode",
              "type": "string",
              "value": "={{ $json.body.design_mode }}"
            },
            {
              "id": "a3",
              "name": "generation_id",
              "type": "string",
              "value": "={{ $json.body.generation_id }}"
            },
            {
              "id": "a4",
              "name": "progress_url",
              "type": "string",
              "value": "={{ $json.body.progress_url }}"
            },
            {
              "id": "a5",
              "name": "types",
              "type": "array",
              "value": "={{ $json.body.types }}"
            },
            {
              "id": "a6",
              "name": "forced_type",
              "type": "string",
              "value": "={{ $json.body.forced_type }}"
            },
            {
              "id": "a7",
              "name": "forced_reference_url",
              "type": "string",
              "value": "={{ $json.body.forced_reference_url }}"
            },
            {
              "id": "a8",
              "name": "image_feedback",
              "type": "string",
              "value": "={{ $json.body.image_feedback }}"
            },
            {
              "id": "a9",
              "name": "current_poster_url",
              "type": "string",
              "value": "={{ $json.body.current_poster_url }}"
            }
          ]
        },
        "includeOtherFields": false,
        "mode": "manual",
        "options": {}
      },
      "position": [-20, 0],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "f1",
      "name": "IF Image Feedback",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-image-feedback-1",
              "leftValue": "={{ $json.image_feedback }}",
              "operator": {
                "operation": "notEmpty",
                "type": "string",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        }
      },
      "position": [180, -360],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "n1f",
      "name": "IF Forced Type",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-forced-1",
              "leftValue": "={{ $json.forced_type }}",
              "operator": {
                "operation": "notEmpty",
                "type": "string",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        }
      },
      "position": [180, 0],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "n2",
      "name": "Build Classify Request",
      "parameters": {
        "jsCode": "// Classify the meeting notes into ONE DGIPR post type, using the type catalog\n// the API sends in the webhook payload (builtin + custom types; each type's\n// description is what routes notes to it).\nconst notes = ($input.first().json.meeting_notes || '').toString().trim();\nif (!notes) { throw new Error('No \"meeting_notes\" received from the form.'); }\n\nconst types = $('DGIPR Post Form').first().json.types;\nif (!Array.isArray(types) || types.length === 0) { throw new Error('No reference type catalog (\"types\") received from the API.'); }\n\nconst typeLines = types.map((t) => '- \"' + t.slug + '\": ' + t.description);\nconst slugs = types.map((t) => t.slug);\n\nconst system = [\n  'You are an editorial classifier for DGIPR Maharashtra (Directorate General of Information & Public Relations).',\n  'You read raw meeting notes and decide which ONE poster format best fits the PRIMARY message.',\n  'If the notes cover several topics, pick the single most important/foreground topic.',\n  'Respond with STRICT JSON only.',\n  '',\n  'Post types:',\n].concat(typeLines).concat([\n  '',\n  'title: a short Marathi (Devanagari) working title for the post.',\n  'reason: one short English sentence on why this type fits best.',\n]).join('\\n');\n\nconst body = {\n  model: 'gpt-4o-mini',\n  temperature: 0,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: 'Meeting notes:\\n' + notes },\n  ],\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'post_classification',\n      strict: true,\n      schema: {\n        type: 'object',\n        additionalProperties: false,\n        properties: {\n          post_type: { type: 'string', enum: slugs },\n          title: { type: 'string' },\n          reason: { type: 'string' },\n        },\n        required: ['post_type', 'title', 'reason'],\n      },\n    },\n  },\n};\n\nreturn [{ json: { body, meeting_notes: notes } }];\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [400, -160],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenAI Bearer (DGIPR)"
        }
      },
      "id": "n3",
      "name": "Classify L0",
      "parameters": {
        "authentication": "genericCredentialType",
        "contentType": "json",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "method": "POST",
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://api.openai.com/v1/chat/completions"
      },
      "position": [620, -160],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "p1",
      "name": "Ping Classify",
      "parameters": {
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ step: 'classify' }) }}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "={{ $('DGIPR Post Form').first().json.progress_url }}"
      },
      "position": [620, 60],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "id": "n4",
      "name": "Build Copy Request",
      "parameters": {
        "jsCode": "// Resolve the post type — the API's forced pin, or the classifier result — then\n// build the copy request from the catalog entry's copy_style. The catalog comes\n// from the API payload, so custom types work without touching this workflow.\nconst form = $('DGIPR Post Form').first().json;\nconst types = form.types;\nif (!Array.isArray(types) || types.length === 0) { throw new Error('No reference type catalog (\"types\") received from the API.'); }\nconst bySlug = {};\nfor (const t of types) { bySlug[t.slug] = t; }\n\nconst forced = (form.forced_type || '').toString().trim();\nlet post_type;\nlet title;\nif (forced) {\n  // Pinned run: this node is reached straight from IF Forced Type (no classifier call).\n  if (!bySlug[forced]) { throw new Error('forced_type \"' + forced + '\" is not in the type catalog.'); }\n  post_type = forced;\n  title = bySlug[forced].label;\n} else {\n  const res = $input.first().json;\n  const content = res && res.choices && res.choices[0] && res.choices[0].message ? res.choices[0].message.content : undefined;\n  if (!content) { throw new Error('No classifier content: ' + JSON.stringify(res).slice(0, 500)); }\n  let cls;\n  try { cls = typeof content === 'string' ? JSON.parse(content) : content; }\n  catch (e) { throw new Error('Classifier JSON parse failed: ' + e.message + ' | raw: ' + String(content).slice(0, 400)); }\n  post_type = cls.post_type;\n  title = cls.title;\n  if (!bySlug[post_type]) {\n    // Fall back to the most list-like entry the catalog offers.\n    const fallback = types.find((t) => t.copy_style === 'info_bullets') || types.find((t) => t.copy_style === 'generic') || types[0];\n    post_type = fallback.slug;\n  }\n}\n\nconst typeEntry = bySlug[post_type];\nconst reference_url = ((form.forced_reference_url || '').toString().trim()) || typeEntry.reference_url || '';\nconst description = (typeEntry.description || '').toString().trim();\n\n// layout_spec is the master template's ACTUAL structure, read off its pixels by a\n// vision pass at upload (API side) and cached per image. It — not the type's prose\n// description — decides whether this poster may contain photography at all: a\n// text-only master must never be handed a scene to paint. A missing spec (image\n// uploaded before the analyser existed, or an analysis failure) means \"unknown\", and\n// we deliberately fall back to the previous behaviour rather than fail the run.\nconst spec = typeEntry.layout_spec || {};\nconst has_photo = spec.hasPhotoZone !== false;\nconst bullet_slots = Number(spec.bulletSlots);\nconst slot_count = Number.isFinite(bullet_slots) && bullet_slots > 0 ? Math.round(bullet_slots) : 0;\n\nconst notes = form.meeting_notes;\n\nconst str = { type: 'string' };\nconst bulletItem = {\n  type: 'object', additionalProperties: false,\n  properties: { text: str, emphasis: { type: 'array', items: str } },\n  required: ['text', 'emphasis'],\n};\nconst obj = (props, required) => ({ type: 'object', additionalProperties: false, properties: props, required: required });\n\nconst REG = {\n  alert: {\n    system: [\n      'ALERT poster. Fields:',\n      '- kicker: 1-2 word Marathi alert tag (e.g. सावधान, सूचना, इशारा).',\n      '- headline: punchy Marathi headline, 3-6 words.',\n      '- subhead: one supporting Marathi line, about 8-12 words.',\n      '- bullets: EXACTLY 3 items; each text is a short Marathi action (<=10 words); emphasis = 1-2 substrings copied VERBATIM from that same text.',\n      '- scene_brief: one English sentence describing only the background imagery.',\n    ].join('\\n'),\n    schema: obj({ kicker: str, headline: str, subhead: str, bullets: { type: 'array', items: bulletItem }, scene_brief: str }, ['kicker', 'headline', 'subhead', 'bullets', 'scene_brief']),\n  },\n  campaign: {\n    system: [\n      'CAMPAIGN / DRIVE / SERVICE poster. Fields:',\n      '- kicker: 1-2 word Marathi tag (e.g. मोहीम, लसीकरण, सेवा).',\n      '- headline: the Marathi campaign/event name, 3-7 words.',\n      '- subhead: one Marathi line on the purpose or target.',\n      '- schedule.date and schedule.time: Marathi date and time strings if the notes give them, else empty strings.',\n      '- audience: Marathi eligibility/audience line, else empty string.',\n      '- cta: a strong Marathi call-to-action, else empty string.',\n      '- stats: 2-4 items, each { value (figure as given), label (short Marathi), icon_hint (1-3 English words naming an icon) }. Use only figures present in the notes.',\n      '- scene_brief: one English sentence, background/hero imagery only.',\n    ].join('\\n'),\n    schema: obj({\n      kicker: str, headline: str, subhead: str,\n      schedule: obj({ date: str, time: str }, ['date', 'time']),\n      audience: str, cta: str,\n      stats: { type: 'array', items: obj({ value: str, label: str, icon_hint: str }, ['value', 'label', 'icon_hint']) },\n      scene_brief: str,\n    }, ['kicker', 'headline', 'subhead', 'schedule', 'audience', 'cta', 'stats', 'scene_brief']),\n  },\n  info_bullets: {\n    system: [\n      'INFORMATIONAL poster (headline + points). Fields:',\n      '- kicker: short Marathi tag, else empty string.',\n      '- headline: Marathi headline, 3-8 words.',\n      '- subhead: one supporting Marathi line.',\n      '- bullets: 4 to 6 items; each text a concise Marathi point; emphasis = 0-2 substrings copied VERBATIM from that text.',\n      '- scene_brief: one English sentence, background imagery only.',\n    ].join('\\n'),\n    schema: obj({ kicker: str, headline: str, subhead: str, bullets: { type: 'array', items: bulletItem }, scene_brief: str }, ['kicker', 'headline', 'subhead', 'bullets', 'scene_brief']),\n  },\n  quote: {\n    system: [\n      'QUOTE / STATEMENT poster. Fields:',\n      '- topic_label: short Marathi tag (e.g. चर्चा, गुंतवणूक).',\n      '- headline: Marathi subject line (what the statement is about).',\n      '- quote_text: the main Marathi quote (one or two sentences).',\n      '- attribution.name and attribution.title: Marathi name and designation of the speaker.',\n      '- points: 2-3 supporting items, each { text (short Marathi), icon_hint (1-3 English words) }.',\n      '- scene_brief: one English sentence, thematic background imagery only.',\n    ].join('\\n'),\n    schema: obj({\n      topic_label: str, headline: str, quote_text: str,\n      attribution: obj({ name: str, title: str }, ['name', 'title']),\n      points: { type: 'array', items: obj({ text: str, icon_hint: str }, ['text', 'icon_hint']) },\n      scene_brief: str,\n    }, ['topic_label', 'headline', 'quote_text', 'attribution', 'points', 'scene_brief']),\n  },\n  timeline: {\n    system: [\n      'TIMELINE / ACHIEVEMENTS poster. Fields:',\n      '- headline: Marathi headline.',\n      '- intro: one Marathi line introducing the sequence, else empty string.',\n      '- side_label: a longer Marathi phrase used as a bold side/emphasis label, else empty string.',\n      '- milestones: 3-4 items in chronological order, each { date (Marathi date/period), text (short Marathi description) }.',\n      '- scene_brief: one English sentence, background imagery only.',\n    ].join('\\n'),\n    schema: obj({\n      headline: str, intro: str, side_label: str,\n      milestones: { type: 'array', items: obj({ date: str, text: str }, ['date', 'text']) },\n      scene_brief: str,\n    }, ['headline', 'intro', 'side_label', 'milestones', 'scene_brief']),\n  },\n  generic: {\n    system: [\n      'GENERIC poster (headline + supporting points). Fields:',\n      '- kicker: short Marathi tag, else empty string.',\n      '- headline: Marathi headline, 3-8 words.',\n      '- subhead: one supporting Marathi line.',\n      '- bullets: 3 to 6 items; each text a concise Marathi point; emphasis = 0-2 substrings copied VERBATIM from that text.',\n      '- scene_brief: one English sentence, background imagery only.',\n    ].join('\\n'),\n    schema: obj({ kicker: str, headline: str, subhead: str, bullets: { type: 'array', items: bulletItem }, scene_brief: str }, ['kicker', 'headline', 'subhead', 'bullets', 'scene_brief']),\n  },\n};\n\nconst COMMON = [\n  'You are a senior bilingual (Marathi/English) creative director for DGIPR Maharashtra. You write copy for an OFFICIAL government poster. Respond with STRICT JSON only, no commentary.',\n  'All on-poster copy MUST be natural Marathi in the Devanagari script. The scene_brief is ENGLISH only and describes ONLY background imagery (never any text, words, letters, numbers or logos).',\n  'Base everything strictly on the supplied notes; do not invent facts. If a field is not supported by the notes, use an empty string (and keep arrays to only what the notes support).',\n].join('\\n');\n\n// Custom types render with the generic layout; unknown copy_styles fall back too.\nconst copy_style = REG[typeEntry.copy_style] ? typeEntry.copy_style : 'generic';\nconst reg = REG[copy_style];\n\n// Deep-copy the registry schema before mutating: the text-only branch strips a\n// field from it, and n8n keeps this module warm across executions.\nlet schema = JSON.parse(JSON.stringify(reg.schema));\nlet systemLines = reg.system.split('\\n');\n\nif (!has_photo) {\n  // The master carries no photograph, so there is nothing to repaint and no scene\n  // to describe. Drop scene_brief from BOTH the schema properties and its required\n  // list (json_schema strict rejects a required key that is not a property), so the\n  // model cannot even express imagery. Build Image Prompt omits the imagery block.\n  delete schema.properties.scene_brief;\n  schema.required = schema.required.filter((k) => k !== 'scene_brief');\n  systemLines = systemLines.filter((line) => line.indexOf('- scene_brief:') !== 0);\n  systemLines.push('This poster is TEXT-ONLY: it carries no photograph or illustration. Do not describe any imagery.');\n}\n\n// Pin the body-slot count to what the master template actually has room for, so the\n// copy cannot overflow (or under-fill) its cards.\nif (slot_count > 0) {\n  const listField = copy_style === 'quote' ? 'points' : (copy_style === 'timeline' ? 'milestones' : (copy_style === 'campaign' ? 'stats' : 'bullets'));\n  systemLines.push('The master template has room for EXACTLY ' + slot_count + ' ' + listField + '. Produce exactly that many.');\n}\n\n// The operator's description of the type is editorial intent — a steer for tone and\n// content selection. It is NOT the structural signal (that is layout_spec, above).\nif (description) {\n  systemLines.push('POSTER TYPE INTENT (from the operator): ' + description);\n}\n\nconst system = COMMON + '\\n\\n' + systemLines.join('\\n');\n\nconst body = {\n  model: 'gpt-4o-mini',\n  temperature: 0.6,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: 'Notes for the ' + post_type + ' poster:\\n' + notes },\n  ],\n  response_format: {\n    type: 'json_schema',\n    json_schema: { name: copy_style + '_copy', strict: true, schema: schema },\n  },\n};\n\nreturn [{ json: { body, post_type, copy_style, reference_url, title, meeting_notes: notes, has_photo, layout_spec: typeEntry.layout_spec || null, description } }];",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [640, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenAI Bearer (DGIPR)"
        }
      },
      "id": "n5",
      "name": "Generate Copy L1",
      "parameters": {
        "authentication": "genericCredentialType",
        "contentType": "json",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "method": "POST",
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://api.openai.com/v1/chat/completions"
      },
      "position": [860, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "p2",
      "name": "Ping Copy",
      "parameters": {
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ step: 'copy' }) }}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "={{ $('DGIPR Post Form').first().json.progress_url }}"
      },
      "position": [860, 220],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "id": "n6",
      "name": "Build Image Prompt",
      "parameters": {
        "jsCode": "// Parse the copy JSON and assemble the image prompt for the resolved type + design mode.\nconst res = $input.first().json;\nconst content = res && res.choices && res.choices[0] && res.choices[0].message ? res.choices[0].message.content : undefined;\nif (!content) { throw new Error('No copy content: ' + JSON.stringify(res).slice(0, 500)); }\n\nlet copy;\ntry { copy = typeof content === 'string' ? JSON.parse(content) : content; }\ncatch (e) { throw new Error('Copy JSON parse failed: ' + e.message + ' | raw: ' + String(content).slice(0, 400)); }\n\nconst req = $('Build Copy Request').first().json;\nconst post_type = req.post_type;\nconst copy_style = req.copy_style;\nconst title = req.title;\n\n// Structural facts about the master, read off its pixels (see Build Copy Request).\n// has_photo defaults to true for un-analysed masters, preserving the old behaviour.\nconst has_photo = req.has_photo !== false;\nconst spec = req.layout_spec || {};\nconst layout_summary = (spec.layoutSummary || '').toString().trim();\n\nconst dmRaw = ($('DGIPR Post Form').first().json.design_mode || '').toString().toLowerCase();\nconst design_mode = dmRaw.indexOf('fresh') !== -1 ? 'fresh' : (dmRaw.indexOf('adaptive') !== -1 ? 'adaptive' : 'onbrand');\n\n// The master to edit is the immutable library URL the API sent in the catalog\n// (forced_reference_url wins on pinned runs — resolved in Build Copy Request).\nconst masterFile = (req.reference_url || '').toString().trim();\nif (design_mode !== 'fresh' && !masterFile) { throw new Error('No reference_url for type \"' + post_type + '\" — the API must send the enabled-image catalog.'); }\n\nconst fmtBullets = (arr) => (arr || []).map((b, i) => {\n  const e = (b.emphasis || []).filter(Boolean);\n  return '  ' + (i + 1) + '. ' + b.text + (e.length ? '  [emphasise: ' + e.join(' | ') + ']' : '');\n}).join('\\n');\n\n// Dispatches on copy_style (not the type slug), so custom types render with the\n// generic (headline + points) layout.\nfunction buildChange(t, c) {\n  let lines;\n  if (t === 'alert') {\n    lines = [\n      'KICKER (small alert tag near the top): ' + c.kicker,\n      'HEADLINE (largest text block): ' + c.headline,\n      'SUBHEAD (line under the headline): ' + c.subhead,\n      'BULLET POINTS (exactly 3, in the body list zone):',\n      fmtBullets(c.bullets),\n    ];\n  } else if (t === 'campaign') {\n    const sch = c.schedule || {};\n    lines = [\n      'KICKER (small tag near the top): ' + c.kicker,\n      'HEADLINE (largest block, the campaign name): ' + c.headline,\n      'SUBHEAD: ' + c.subhead,\n      'DATE: ' + (sch.date || ''),\n      'TIME: ' + (sch.time || ''),\n      'AUDIENCE / ELIGIBILITY: ' + (c.audience || ''),\n      'CALL TO ACTION (make it prominent): ' + (c.cta || ''),\n      'STAT CALLOUTS (each as icon + figure + label):',\n      (c.stats || []).map((s, i) => '  ' + (i + 1) + '. ' + s.value + ' — ' + s.label + '  [icon: ' + s.icon_hint + ']').join('\\n'),\n    ];\n  } else if (t === 'quote') {\n    const at = c.attribution || {};\n    lines = [\n      'TOPIC LABEL (small tag near the top): ' + c.topic_label,\n      'HEADLINE (subject line): ' + c.headline,\n      'QUOTE (main text, inside large quotation marks): ' + c.quote_text,\n      'ATTRIBUTION (name then designation): ' + (at.name || '') + ', ' + (at.title || ''),\n      'SUPPORTING POINTS (each as icon + text):',\n      (c.points || []).map((p, i) => '  ' + (i + 1) + '. ' + p.text + '  [icon: ' + p.icon_hint + ']').join('\\n'),\n    ];\n  } else if (t === 'timeline') {\n    lines = [\n      'SIDE LABEL (bold side/left emphasis text): ' + (c.side_label || ''),\n      'HEADLINE (top): ' + c.headline,\n      'INTRO: ' + (c.intro || ''),\n      'TIMELINE MILESTONES (dated, top to bottom):',\n      (c.milestones || []).map((m, i) => '  ' + (i + 1) + '. [' + m.date + '] ' + m.text).join('\\n'),\n    ];\n  } else {\n    // info_bullets and generic share the headline + points layout.\n    lines = [\n      'KICKER (small tag): ' + c.kicker,\n      'HEADLINE (largest block): ' + c.headline,\n      'SUBHEAD: ' + c.subhead,\n      'BULLET POINTS (in the body list zone):',\n      fmtBullets(c.bullets),\n    ];\n  }\n  return lines.join('\\n');\n}\n\nconst change = buildChange(copy_style, copy);\n\nconst BRAND = \"The footer band reads 'माहिती व जनसंपर्क महासंचालनालय, महाराष्ट्र शासन' above a social-handle strip (www.mahasamvad.in, @MahaDGIPR, @MAHARASHTRADGIPR). The top-right carries the Government of Maharashtra emblem with 'महाराष्ट्र शासन'.\";\n\n// A master with a photo zone has its placeholder photo erased and a new scene painted\n// into it. A TEXT-ONLY master has no such zone — saying \"erase the existing photo and\n// paint a new scene\" to one is what used to make the model invent a hero photograph\n// that the template never had. So the imagery instructions are gated, not assumed.\nconst PLACEHOLDER_WITH_PHOTO = 'The master template you are editing still carries PLACEHOLDER content from a previous poster: sample Marathi text in every text zone (headline, tag, bullets, figures, dates) and a sample photo/illustration in the image zone. NONE of that content relates to this poster. ERASE every piece of existing sample text and ERASE the existing photo/illustration completely before adding the new content — no word, number, person, or pictorial element from the placeholder may survive into the output. Only the brand frame stays: colour bands, header emblem, footer band, social-handle strip.';\nconst PLACEHOLDER_TEXT_ONLY = 'The master template you are editing still carries PLACEHOLDER text from a previous poster in every text zone (headline, tag, cards, bullets, figures, dates). NONE of that wording relates to this poster. ERASE every piece of existing sample text before adding the new content — no word or number from the placeholder may survive into the output. Everything else stays exactly as it is: colour bands, header emblem, footer band, social-handle strip, card shapes, icons, and the existing background.';\nconst TEXT_ONLY_LOCK = 'THIS MASTER IS A TEXT-ONLY TEMPLATE: it has NO photograph, NO portrait and NO illustration zone. Do NOT add any photograph, person, hero image, or pictorial subject anywhere on the poster. Keep the master\\'s existing background exactly as it is (including any faded or ghosted backdrop wash) and keep its existing icons, symbols and card shapes. The ONLY thing you change is the Marathi text inside the existing text zones.';\n\nlet prompt;\nif (design_mode === 'fresh') {\n  const freshLines = [\n    'Design a single, complete 4:5 portrait OFFICIAL DGIPR Maharashtra government poster from scratch.',\n    'Government public-information aesthetic: bold, high-contrast, highly legible Devanagari (Marathi) typography, clean and trustworthy layout, strong colour blocks suited to the topic.',\n    'Choose a layout appropriate to a \"' + copy_style + '\" poster. ' + BRAND,\n    'Render ALL Marathi text crisply and correctly in Devanagari, spelled EXACTLY as given. Do not add English body text beyond the fixed footer handles. One poster, no outer border.',\n    '',\n    'CONTENT TO TYPESET:',\n    change,\n  ];\n  if (has_photo) {\n    freshLines.push('', 'BACKGROUND IMAGERY (must never cover the text): ' + copy.scene_brief);\n  } else {\n    freshLines.push('', 'This poster is TEXT-ONLY: build it from typography, colour blocks, cards and simple icons. Do NOT include any photograph, portrait or pictorial illustration.');\n  }\n  prompt = freshLines.join('\\n');\n} else {\n  const layoutRule = design_mode === 'adaptive'\n    ? \"You MAY re-arrange and resize the template's text zones to best fit the content, but keep its brand colours, header emblem and footer band.\"\n    : \"KEEP the master template's overall layout, proportions, brand colour bands, header and footer zones and safe margins EXACTLY as in the provided image.\";\n  const locked = [\n    'You are editing a master template for an OFFICIAL DGIPR Maharashtra government poster (type: ' + copy_style + ').',\n    layoutRule,\n    has_photo ? PLACEHOLDER_WITH_PHOTO : PLACEHOLDER_TEXT_ONLY,\n  ];\n  if (!has_photo) { locked.push(TEXT_ONLY_LOCK); }\n  locked.push('Single 4:5 portrait poster. Typography: bold, high-contrast, highly legible Devanagari (Marathi). Government public-notice aesthetic: clean, serious, trustworthy.');\n  locked.push('Render ALL Marathi text crisply and correctly in Devanagari, spelled exactly as below.');\n  const LOCKED = locked.join(' ');\n\n  const lines = [LOCKED];\n  // Ground the edit in what the master actually looks like, rather than in the\n  // generic assumptions this prompt used to hardcode.\n  if (layout_summary) {\n    lines.push('', 'STRUCTURE OF THE MASTER YOU ARE EDITING: ' + layout_summary);\n  }\n  lines.push('', \"REPLACE the editable content of the poster with the following, fitting the master's existing text zones:\", '', change);\n  if (has_photo) {\n    lines.push('', \"BACKGROUND IMAGERY — first erase the master's existing photo/illustration, then paint a NEW scene in the image zone (must never cover the text): \" + copy.scene_brief);\n  }\n  lines.push('', 'Do not add any English text beyond the fixed footer handles. Do not add extra logos. Keep one single poster within the canvas, no outer borders.');\n  prompt = lines.join('\\n');\n}\n\nreturn [{ json: { prompt, copy, post_type, copy_style, title, design_mode, masterFile, has_photo } }];",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [1080, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "n7",
      "name": "IF Fresh",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-fresh-1",
              "leftValue": "={{ $json.design_mode }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "fresh"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        }
      },
      "position": [1300, 0],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenAI Bearer (DGIPR)"
        }
      },
      "id": "n8",
      "name": "Generate Image L2",
      "parameters": {
        "authentication": "genericCredentialType",
        "contentType": "json",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-image-2', prompt: $('Build Image Prompt').first().json.prompt, size: '1280x1600', quality: 'medium', n: 1 }) }}",
        "method": "POST",
        "options": {
          "timeout": 360000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://api.openai.com/v1/images/generations"
      },
      "position": [1520, -140],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "n9",
      "name": "Read Master Template",
      "parameters": {
        "method": "GET",
        "url": "={{ $json.masterFile }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "master"
            }
          },
          "timeout": 30000
        }
      },
      "position": [1520, 160],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenAI Bearer (DGIPR)"
        }
      },
      "id": "n10",
      "name": "Edit Image L2",
      "parameters": {
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "inputDataFieldName": "master",
              "name": "image",
              "parameterType": "formBinaryData"
            },
            {
              "name": "model",
              "parameterType": "formData",
              "value": "gpt-image-2"
            },
            {
              "name": "prompt",
              "parameterType": "formData",
              "value": "={{ $('Build Image Prompt').first().json.prompt }}"
            },
            {
              "name": "size",
              "parameterType": "formData",
              "value": "1280x1600"
            },
            {
              "name": "quality",
              "parameterType": "formData",
              "value": "medium"
            },
            {
              "name": "n",
              "parameterType": "formData",
              "value": "1"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "options": {
          "timeout": 360000
        },
        "sendBody": true,
        "url": "https://api.openai.com/v1/images/edits"
      },
      "position": [1740, 160],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "n11",
      "name": "Decode Image",
      "parameters": {
        "jsCode": "// Decode the base64 PNG returned by whichever image step ran into an n8n binary item.\nconst res = $input.first().json;\nconst b64 = res && res.data && res.data[0] ? res.data[0].b64_json : undefined;\nif (!b64) { throw new Error('No image b64_json returned: ' + JSON.stringify(res).slice(0, 500)); }\n\nconst post_type = $('Build Image Prompt').first().json.post_type;\nconst title = $('Build Image Prompt').first().json.title;\nconst fileName = post_type + '-' + $now.toFormat('yyyyLLdd-HHmmss') + '.png';\n\nreturn [{\n  json: { fileName, post_type, title, b64 },\n  binary: { data: { data: b64, mimeType: 'image/png', fileName: fileName, fileExtension: 'png' } },\n}];\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [1960, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "p3",
      "name": "Ping Image",
      "parameters": {
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ step: 'image' }) }}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "={{ $('DGIPR Post Form').first().json.progress_url }}"
      },
      "position": [1960, 220],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "id": "n13",
      "name": "Build Caption Request",
      "parameters": {
        "jsCode": "// Build the X (Twitter) caption request from the structured copy + the original notes.\nconst copy = $('Build Image Prompt').first().json.copy;\nconst post_type = $('Build Image Prompt').first().json.post_type;\nconst notes = $('DGIPR Post Form').first().json.meeting_notes;\n\nconst styleGuide = [\n  'House style for DGIPR Maharashtra posts on X (formerly Twitter):',\n  '- Lead in Marathi (Devanagari). Keep it crisp, factual and public-spirited; an English gloss line is optional.',\n  '- 1-3 short lines, then a blank line, then the hashtags.',\n  '- Always mention @MahaDGIPR. Include 2-4 relevant hashtags (mix of Marathi and English) plus topic tags.',\n  '- At most 1-2 tasteful emojis. No clickbait. Stay on-message with the notes.',\n].join('\\n');\n\nconst system = 'You are the social media editor for DGIPR Maharashtra. Write ONE ready-to-post X caption for the poster described. Respond with STRICT JSON only: { \"caption\": string }.\\n\\n' + styleGuide;\n\nconst user = 'Post type: ' + post_type + '\\n\\nMeeting notes:\\n' + notes + '\\n\\nPoster copy (keep the caption consistent with this):\\n' + JSON.stringify(copy);\n\nconst body = {\n  model: 'gpt-4o-mini',\n  temperature: 0.7,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: user },\n  ],\n  response_format: {\n    type: 'json_schema',\n    json_schema: { name: 'x_caption', strict: true, schema: { type: 'object', additionalProperties: false, properties: { caption: { type: 'string' } }, required: ['caption'] } },\n  },\n};\n\nreturn [{ json: { body } }];\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [2180, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenAI Bearer (DGIPR)"
        }
      },
      "id": "n14",
      "name": "Generate Caption L3",
      "parameters": {
        "authentication": "genericCredentialType",
        "contentType": "json",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "method": "POST",
        "options": {
          "timeout": 120000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://api.openai.com/v1/chat/completions"
      },
      "position": [2400, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "n15",
      "name": "Make Caption File",
      "parameters": {
        "jsCode": "// Turn the caption text into a UTF-8 .txt binary, named to match the poster PNG.\nconst res = $input.first().json;\nconst content = res && res.choices && res.choices[0] && res.choices[0].message ? res.choices[0].message.content : undefined;\nif (!content) { throw new Error('No caption content: ' + JSON.stringify(res).slice(0, 400)); }\n\nlet parsed;\ntry { parsed = typeof content === 'string' ? JSON.parse(content) : content; }\ncatch (e) { parsed = { caption: String(content) }; }\n\nconst caption = (parsed.caption || '').toString();\nconst pngName = $('Decode Image').first().json.fileName;\nconst fileName = pngName.replace('.png', '.txt');\n\nreturn [{\n  json: { caption, fileName },\n  binary: { data: { data: Buffer.from(caption, 'utf8').toString('base64'), mimeType: 'text/plain', fileName: fileName, fileExtension: 'txt' } },\n}];\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [2620, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "p4",
      "name": "Ping Caption",
      "parameters": {
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ step: 'caption' }) }}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "={{ $('DGIPR Post Form').first().json.progress_url }}"
      },
      "position": [2820, 0],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "id": "f2",
      "name": "Build Feedback Prompt",
      "parameters": {
        "jsCode": "// Pixel-level revisions edit the latest finished poster and deliberately bypass\n// classify, copy, image-copy composition, and caption. Image edits regenerate the\n// full canvas, so preservation of unrequested Devanagari text is best-effort.\nconst src = $input.first().json;\nconst imageFeedback = (src.image_feedback || '').toString().trim();\nconst currentPosterUrl = (src.current_poster_url || '').toString().trim();\nif (!imageFeedback) { throw new Error('No \"image_feedback\" received in the webhook body.'); }\nif (!currentPosterUrl) { throw new Error('No \"current_poster_url\" received in the webhook body.'); }\n\nconst prompt = [\n  'You are editing an existing finished DGIPR Maharashtra government social-media poster provided as the input image: a single 4:5 portrait poster.',\n  'Apply ONLY this requested change: «' + imageFeedback + '».',\n  'Keep the exact layout, Government of Maharashtra emblem, DGIPR branding, existing Marathi text and figures, footer band and its text, social-handle strip, colours, typography, and imagery unchanged except where the requested change explicitly requires it.',\n  'Add no new text, letters, numbers, captions, logos, borders, or decorative elements. Preserve all existing Devanagari text exactly. Output ONE complete 4:5 portrait poster filling the canvas.',\n].join('\\n');\n\nreturn [{ json: { prompt, currentPosterUrl } }];\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "position": [400, -460],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f3",
      "name": "Read Current Poster",
      "parameters": {
        "method": "GET",
        "url": "={{ $json.currentPosterUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "master"
            }
          },
          "timeout": 30000
        }
      },
      "position": [620, -460],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenAI Bearer (DGIPR)"
        }
      },
      "id": "f4",
      "name": "Edit Feedback Image",
      "parameters": {
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "inputDataFieldName": "master",
              "name": "image",
              "parameterType": "formBinaryData"
            },
            {
              "name": "model",
              "parameterType": "formData",
              "value": "gpt-image-2"
            },
            {
              "name": "prompt",
              "parameterType": "formData",
              "value": "={{ $('Build Feedback Prompt').first().json.prompt }}"
            },
            {
              "name": "size",
              "parameterType": "formData",
              "value": "1280x1600"
            },
            {
              "name": "quality",
              "parameterType": "formData",
              "value": "medium"
            },
            {
              "name": "n",
              "parameterType": "formData",
              "value": "1"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "options": {
          "timeout": 360000
        },
        "sendBody": true,
        "url": "https://api.openai.com/v1/images/edits"
      },
      "position": [840, -460],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "id": "f5",
      "name": "Respond Feedback",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ poster_png_base64: $json.data[0].b64_json }) }}"
      },
      "position": [1060, -460],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "id": "r1",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ post_type: $('Decode Image').first().json.post_type, title: $('Decode Image').first().json.title, caption: $('Make Caption File').first().json.caption, poster_png_base64: $('Decode Image').first().json.b64 }) }}"
      },
      "position": [3040, 0],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    }
  ],
  "connections": {
    "Build Caption Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Caption L3",
            "type": "main"
          }
        ]
      ]
    },
    "Build Classify Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Classify L0",
            "type": "main"
          }
        ]
      ]
    },
    "Build Copy Request": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Copy L1",
            "type": "main"
          }
        ]
      ]
    },
    "Build Image Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Fresh",
            "type": "main"
          }
        ]
      ]
    },
    "Classify L0": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Copy Request",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Ping Classify",
            "type": "main"
          }
        ]
      ]
    },
    "DGIPR Post Form": {
      "main": [
        [
          {
            "index": 0,
            "node": "IF Image Feedback",
            "type": "main"
          }
        ]
      ]
    },
    "IF Image Feedback": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Feedback Prompt",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "IF Forced Type",
            "type": "main"
          }
        ]
      ]
    },
    "Build Feedback Prompt": {
      "main": [
        [
          {
            "index": 0,
            "node": "Read Current Poster",
            "type": "main"
          }
        ]
      ]
    },
    "Read Current Poster": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Feedback Image",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Feedback Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond Feedback",
            "type": "main"
          }
        ]
      ]
    },
    "Decode Image": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Caption Request",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Ping Image",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Image L2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Decode Image",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Caption L3": {
      "main": [
        [
          {
            "index": 0,
            "node": "Make Caption File",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Copy L1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Image Prompt",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Ping Copy",
            "type": "main"
          }
        ]
      ]
    },
    "Generate Image L2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Decode Image",
            "type": "main"
          }
        ]
      ]
    },
    "IF Fresh": {
      "main": [
        [
          {
            "index": 0,
            "node": "Generate Image L2",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Read Master Template",
            "type": "main"
          }
        ]
      ]
    },
    "Make Caption File": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ping Caption",
            "type": "main"
          }
        ]
      ]
    },
    "Read Master Template": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Image L2",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "DGIPR Post Form",
            "type": "main"
          }
        ]
      ]
    },
    "Ping Caption": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Forced Type": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Copy Request",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Build Classify Request",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
